<h2>Absorventes</h2>
<owl-carousel-o [options]="{loop: true, margin: 10, nav: false, dots: true, responsive: { '0': { items: 1 }, '600': { items: 2 }, '1000': { items: 3 } }}">
    <ng-container *ngFor="let product of categories['absorventes']">
        <ng-template carouselSlide>
            <div class="prod-item">
                <img [src]="product.imageUrl" alt="{{product.name}}" class="img-fluid" >
                <h4>{{product.name}}</h4>
                <p>{{product.description}}</p>
                <p class="price">{{product.price | currency}}</p>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>

<h2>Necessaires</h2>
<owl-carousel-o [options]="{loop: true, margin: 10, nav: false, dots: true, responsive: { '0': { items: 1 }, '600': { items: 2 }, '1000': { items: 3 } }}">
    <ng-container *ngFor="let product of categories['necessaire']">
        <ng-template carouselSlide>
            <div class="prod-item">
                <img [src]="product.imageUrl" alt="{{product.name}}" class="img-fluid" >
                <h4>{{product.name}}</h4>
                <p>{{product.description}}</p>
                <p class="price">{{product.price | currency}}</p>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>

<h2>Calcinhas Absorventes</h2>
<owl-carousel-o [options]="{loop: true, margin: 10, nav: false, dots: true, responsive: { '0': { items: 1 }, '600': { items: 2 }, '1000': { items: 3 } }}">
    <ng-container *ngFor="let product of categories['calciabsorvente']">
        <ng-template carouselSlide>
            <div class="prod-item">
                <img [src]="product.imageUrl" alt="{{product.name}}" class="img-fluid" >
                <h4>{{product.name}}</h4>
                <p>{{product.description}}</p>
                <p class="price">{{product.price | currency}}</p>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>
<app-footer></app-footer>
