<section class="banner-section">
<img src="assets/bannerAbout.png" width="100%" height="auto">
</section>

<div class="main-text">Menstruar faz parte da vida, e transformar isso em algo mais leve é o que nos motiva todos os dias.</div>

<section class="principal-section">
    <p>
        Tudo começou quando percebemos que o incômodo com os absorventes comuns não era culpa da mulher – era dos próprios absorventes, que pareciam ter parado no tempo.
Ao conversar com outras mulheres, ouvimos repetidas vezes: "Ah, mas mulher sofre, né? É assim mesmo."
Não, não é assim que tem que ser. 
<br>
<br>
Transformar essa realidade virou a nossa missão. Fomos atrás das melhores matérias-primas, inovamos no design e criamos absorventes que você praticamente esquece que está usando – infinitamente confortáveis, saudáveis para o corpo e conscientes com o planeta.
<br>
<br>
Aqui na FloraCare, acreditamos que ninguém precisa sofrer com algo tão natural. Nossa busca incansável pela inovação nos levou a desenvolver produtos que oferecem muito mais do que proteção: garantimos conforto duradouro, bem-estar e uma conexão real com a natureza. 
<br>
<br>
Nossa jornada vai além dos produtos. Buscamos empoderar mulheres, promovendo uma cultura de autocuidado, respeito e valorização do corpo. Sabemos que cada ciclo é único e merece ser vivido com liberdade e confiança. Por isso, criamos absorventes que se ajustam às diferentes necessidades, proporcionando segurança e conforto em todos os momentos.
    </p>   

        <img ngSrc="assets/ImgPrincipalAbout.png" width="500" height="500" class="imgAbout">
</section>
<app-footer></app-footer>