 <section class="form-section">
        <div class="text">
        <h3>Fique por dentro das novidades</h3>
        <p> 
            A FloraCare é uma empresa comprometida com o bem-estar, conforto e sustentabilidade. Oferecemos absorventes feitos com materiais de alta qualidade, pensando na saúde feminina e no cuidado com o meio ambiente. Nossa missão é proporcionar proteção confiável e conforto ao mesmo tempo em que promovemos práticas mais sustentáveis para um futuro melhor.
        </p>
    </div>
    <form [formGroup]="footer">
        <label for="name" >Nome</label>
        <input id="name" formControlName="name"/>
        <div class="form-error" *ngIf="footer.get('name')?.touched && footer.get('name')?.invalid">
            <small *ngIf="footer.get('name')?.errors?.['required']">*O nome é obrigatório.</small>
          </div>
        <label for="email">Email</label>
        <input id="email" formControlName="email"/>
        <div class="form-error" *ngIf="footer.get('email')?.touched && footer.get('email')?.invalid">
            <small *ngIf="footer.get('email')?.errors?.['required']">*O email é obrigatório.</small>
          </div>

        <btn-primary btn-text="Quero ser informado sobre possiveis novidades" (submit)="onSubmit()" [disabled]="footer.invalid || loading"></btn-primary>
    </form> 
</section>
<section class="copyright">
        <span>&copy; {{ currentYear }} FloraCare. Todos os direitos reservados.</span>
</section>
   
