
.mat-toolbar {
position: sticky;
top: 0;
display: flex;
background-color: rgb(250, 144, 182);
justify-content: space-between;
align-items: center;
width: 100%;
z-index: 1000;

  img {
   width: 100px;
   height: auto;
    }

  .buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgb(255, 255, 255);

} 
  button {
    font-size: 16px;
    padding: 6px 12px;
  }

  @media (max-width: 600px) {
    font-size: 14px;
    padding: 6px 12px;
  }


  }