 
 <h3>Precisa de alguma coisa? nos deixe uma mensagem!!</h3>
 <section class="form-section">
   
    <form [formGroup]="contactForm">
    <label for="name" >Seu nome</label>
    <input id="name" formControlName="name"/>
    <div class="form-error" *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid">
        <small *ngIf="contactForm.get('name')?.errors?.['required']">*O nome é obrigatório.</small>
      </div>
    <label for="email">Email</label>
    <input id="email" formControlName="email"/>
    <div class="form-error" *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
        <small *ngIf="contactForm.get('email')?.errors?.['required']">*O email é obrigatório.</small>
      </div>

      <label for="message">Mensagem</label>
    <input id="message" formControlName="message"/>
    <div class="form-error" *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid">
        <small *ngIf="contactForm.get('message')?.errors?.['required']"> *É necessário digitar algo.</small>
      </div>

    <btn-primary btn-text="Enviar" (submit)="onSubmit()" [disabled]="contactForm.invalid" [loading]="loading"></btn-primary>
</form> 
</section>
<app-footer></app-footer>
