.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 70px;


    h1 {
        font-size: 48px;
        font-weight: 900;
        color: rgb(239 76 136);
        font-family: Caprasimo;
    }

    button {
        background-color: rgb(250, 144, 182);
        color: rgb(255, 255, 255);
        border-radius: 25px;
        font-family: Poppins;
        font-weight: 600;
        font-size: 15px;
    }
}

.text-principal {
    font-size: 30px;
    font-family: Caprasimo;
    color: rgb(239 76 136);
    font-weight: 600;
    justify-content: center;
    display: flex;
    padding-top: 30px;
}

@media (min-width: 1080px) {
    .main-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

.products-section {
    padding: 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 5%;
    gap: 30px;
    flex-wrap: wrap;


    .text-prods {
        font-size: 20px;
        font-family: Poppins;
        color: rgb(239 76 136);
        font-weight: 600;
    }

    button {
        background-color: rgb(239 76 136);
        color: rgb(255, 255, 255);
        border-radius: 25px;
        font-family: Poppins;
        font-weight: 600;
        font-size: 15px;
    }

    .Prods {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 0 70px;
        background-color: rgba(255, 204, 204);
        border-radius: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;

    }
}

.info-section {
    padding: 20px 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5%;
    gap: 30px;

    h1 {
        font-size: 38px;
        font-weight: 600;
        color: rgb(239 76 136);
        font-family: Caprasimo;
        flex: 1;
    }

    button {
        background-color: rgb(250, 144, 182);
        color: rgb(255, 255, 255);
        border-radius: 25px;
        font-family: Poppins;
        font-weight: 600;
        font-size: 15px;

    }

    
}

.cert-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 0;
}


.headline {}