.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 70px;

    h1{
        font-size: 48px;
        font-weight: 900;  
        color: rgb(239	76	136); 
        font-family: Caprasimo;
    }
}

@media (min-width: 1080px){
    .main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
}

.headline {
     
}