<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <h1>Sua melhor versão em qualquer momento do mês</h1>
            <button mat-button>Conheça a FloraCare</button>
        </div>
        <img ngSrc="assets/principal.png" width="500" height="500">
    </section>
    <p class="text-principal">Nossos principais produtos</p>
    <section class="products-section">

        <div class="Prods">
            <img ngSrc="assets/Protetordiario.png" width="250" height="250">
            <p class="text-prods">Protetor diario 20u</p>
            <button mat-button>Conhecer</button>
        </div>
        <div class="Prods">
            <img ngSrc="assets/CalciAbsorvente.png" width="250" height="250">
            <p class="text-prods">Calcinha Absorvente</p>
            <button mat-button>Conhecer</button>
        </div>
        <div class="Prods">
            <img ngSrc="assets/AbsorventeEco.png" width="250" height="250">
            <p class="text-prods">Absorvente Ecologico Tecido</p>
            <button mat-button>Conhecer</button>
        </div>
    </section>
    <section class="info-section">
        <div>     
        <h1>Do seu jeito, no seu ritmo, cuidado para todas.</h1>
            <button mat-button>Ver Produtos</button>
        </div>
        <img ngSrc="assets/BannerInfo.png" width="500" height="500">  
    </section>
    <section class="cert-section">
        <img ngSrc="assets/CottonLogo.png" width="150" height="150">
        <img ngSrc="assets/ToxicityLogo.png" width="150" height="150">  
        <img ngSrc="assets/CompLogo.png" width="150" height="150"> 
        <img ngSrc="assets/CarbonLogo.png" width="150" height="150"> 
    </section>
</main>
<app-footer></app-footer>